*{
    margin: 0;
    padding: 0;
}


ul{
    background-color: black;
    color: white;
}

.main{
    background-color: rgb(80, 69, 69);
    color: white;
}


.bg{
    width: 344px;
    height: 344px;
    background: url("../img/img1.png");
    background-repeat: no-repeat;
    background-color: aqua;
}