/* * {
  margin: 0;
  padding: 0;
} */

header {
  background-color: black;
  color: white;
  height: 60px;
}

ul{
    background-color: brown;
}

li {
  /* display: inline-block; */
  /* list-style: circle; */
  list-style: square;
  /* list-style: inside; */
  
  /* list-style: square outside url(../img/dot_image.png); */

}

.container{
    background-color: aquamarine;
    height: 50vh;
    width: 50vw;
    margin: auto;
    padding: 0 32px;
    /* position: relative; */
}

p{
    text-align: center;
    border: 2px solid red;
}


.box{
    height: 200px;
    width: 200px;
    background-color: darkorange;
    /* position: relative; */
    /* top: 10px;
    left: 20px; */

    /* position: absolute; */
    /* top: 0; */

    position: fixed;
}

.box2{
    height: 200px;
    width: 200px;
    background-color: rgb(88, 74, 57);
}